@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Galada');
ion-content{
    // background: url("http://getwallpapers.com/wallpaper/full/4/e/7/1200053-best-computer-programming-wallpaper-2560x1440.jpg") no-repeat;
    // background: cover;

     background-image: url("http://www.tylicz.net.pl/Media/Default/gallery/okolicznosciowe/1.jpg");
     background-repeat: no-repeat;
    background: cover; 
}
ion-title h2{
    font-family: 'Galada', cursive;
    color: #48C9B0;
}
.header h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 30pt;
    color: #3498DB  ;
}

ion-footer h1{  
    font-family: 'Abril Fatface', cursive;
    font-size: 30pt;
    color: #3498DB; 
}